*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	max-width: 1920px;
}
.burger{
	width: 50px;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background-color: #fff;
	display: none;
}
.btn{
	padding: 8px;
	background-color: black;
	color: #fff;
	border-radius: 7px;
}
p{
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
}
img{
	padding: 0;
	margin: 0;
}

.container{
	max-width: 1000px;
	height: auto;
	display: grid;
	grid-template-rows: 0.1fr 1fr 0.2fr 1fr;
	gap: 20px;
	padding-top: 25px;
	margin: 0 auto;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	height: max-content;
}
ul{
	list-style: none;
	display: flex;
	gap: 40px;
}

@media screen and (max-width:566px) {
	ul{
		font-size: small;
	}
	h1{
		font-size: medium;
	}
}
@media screen and (max-width:495px) {
	ul{
		display: none;
	}
	.burger{
		display: flex;
		
	}
	h1{
		text-decoration: underline;
		font-size: 35px;
	}
}
main{
	background-color:#F4F6F5;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 405px;
	border-radius: 20px;
	flex-wrap: wrap;

}
.shop{
	background-color: black;
	color: #fff;
	padding: 15px;
	width: 40%;
	border-radius: 10px;
	border:none;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
.left{
	padding-left: 4rem;
	display: grid;
	font-size: 25px;
}
.bck{
	background-color: #EBD96B;
	width: 60%;
}
.model{
	width: 100%;
}
@media screen and (max-width:410px) {
	.left{
		font-size: small;
		padding-left: 1rem;
	}
	p{
		font-size: small !important;
	}
	.bck{
		width: 40%;
	}
}

section{
	background-color: #EBD96B;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	border-radius: 20px;
}
@media screen and (max-width:810px) {
	section{
		height: 80px;
	}
}
.image{
	width: auto;;
	height: auto;
}
footer{
	height: 459px;
	width: 100%;
	background-color: #F4F6F5;
	border-radius: 20px;
}
.cont{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	padding-top: 20px;
	flex-wrap: wrap;
}
.card{
	margin: auto;
}
h3{
	padding: 10px 20px;

}