*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
	min-height: 100vh;
	max-width: 1920px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
a{
	text-decoration: none;
}
.logo{
	width: 60px;
	height: auto;
}
.nav__icons{
	width: 30px;
	height: auto;
}
h1{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
h3{
	font-size: 15px;
}
header{
	background-color: #EEECEA;
	height: 11vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav{
	width: 80%;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.header__nav{
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	gap: 15px;
	position: relative;
}
.header__nav_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 25px;
	gap: 10px;
	background-color: white;
	color: black;
	font-size: 16px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.3s;
}
.header__nav_btn:hover{
	background-color: #E35C15;
	color: white;
}
.header__nav_procent{
	padding: 12px 19px;
	font-size: 16px;
	background-color: #E35C15;
	border-radius: 15px;
	border:none;
	color: white;
	cursor: pointer;
	transform: 0.3;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
.header__nav_procent:hover{
	background-color: white;
	color: #E35C15;
	outline: 1px solid;
	outline-color: black;
	transition: 0.3s;
}
.header__nav_input{
	max-width: 400px;
	width: 100%;
	min-width:130px;
	border-radius: 15px;
	border: navajowhite;
	font-size: 18px;
	padding-left: 60px;
	border: 1px solid;
	border-color: black;
	transition: border-color 0.3s ease; 
	
}
.search__icon{
	width: 35px;
	height: 35px;
	position: absolute;
	left: 220px;
	top: 12px;
	cursor: pointer;
}
.header__nav_input:focus{
	outline: none;
	border-color: orangered;
}
main{
	width: 80%;
	height: 17vh;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
}

.main_icon{
	width: 25px;
	height:25px;
}
.main__section_nav{
	display: flex;
	align-items: center;
	gap: 10px;
}
.main__btn_ic{
	padding: 13px 20px;
	font-size: 18px;
	border-radius: 7px;
	border:none;
}
.main__btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 13px 15px;
	font-size: 17px;
	gap: 5px;
	background-color: #EB8E64;
	border: none;
	cursor: pointer;
	border-radius: 7px;
	animation: pulse 0.9s ease-in-out infinite;
}
.main__btn:hover{
	animation: stop;
	border: 1px solid;
}

.main__btn_ic{
	cursor: pointer;
}
.main__btn:active::after{
	content: "|";
}
@keyframes pulse{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}
@keyframes stop{
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1);
	}
}
.cam1{
	width: 12rem;
	height: auto;
	position: absolute;
	bottom: 5px;
	right: 10px;
}
.cam2{
	width: 18rem;
	height: auto;
	position: absolute;
	left: 15px;
	bottom: 5px;
}
section{
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 380px;
	width: 80%;
	height: auto;
	margin: auto;
	border-radius: 25px;
	background-color: #ABEACB;
	font-size: 100px;
	color: white;
	align-items: center;
}
.section__left{
	border-radius: 25px 0px 0px 25px;
	background-color: #53CF8C;
	height: 320px;
	text-align: end;
	position: relative;
	animation: left 1.5s ease-in-out forwards;
	cursor: pointer;

}
.section__rigth{
	border-radius: 0px 25px 25px 0px;
	height: 320px;
	background-color: #53CF8C;
	text-align: center;
	position: relative;
	animation: rigth 1.5s ease-in-out forwards;
	cursor: pointer;
}
.section__left:active{
	animation: rigth 1.5s ease-in-out forwards;
}
.section__rigth:active{
	animation: left 1.5s ease-in-out forwards;
}

@keyframes left{
	from{
		transform: translateX(-100%);
		opacity: 0;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes rigth{
	from{
		transform: translateX(100%);
		opacity: 0;
	}
	to{
		transform: translateX(0);
		opacity: 1;
	}
}
.span1{
	display: grid;
	text-align: start;
}