* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*COLOR*/
/*_________________________________________________*/
a {
  color: #422a22;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/*flex_center*/
aside .container__right .comment3, aside .container__right .comment2, aside .container__right .comment1, section, header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*__________________________________________________*/
/*IMG*/
main img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}

/*___________________________________________________*/
/*BUTTON*/
/*___________________________________________________*/
body {
  max-height: 200vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  animation: body_an 0.3s ease-in-out forwards;
  transition: 0.3;
  background-color: #fcf8e6;
}

@keyframes body_an {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*header*/
header {
  background-color: #ffb1f1;
  opacity: 0.9;
  width: 70%;
  border-radius: 15px;
  margin: 0 auto;
  position: fixed;
  z-index: 5;
  top: 15px;
  left: 0;
  right: 0;
  padding: 0 2rem;
}
header .modal {
  display: none;
}
header .header_img {
  animation: head_img 2.5s linear infinite;
}
header ol {
  display: flex;
  list-style: none;
  gap: 2rem;
}
@media screen and (max-width: 530px) {
  header .modal {
    display: block;
    cursor: pointer;
  }
  header ol {
    display: none;
  }
}

@keyframes head_img {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*___________________________________________*/
section {
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
}
section h1 {
  font-size: 16rem;
  color: #422a22;
}
section h3 {
  font-size: 3rem;
  color: #422a22;
}
@media screen and (max-width: 950px) {
  section {
    display: flex;
    flex-direction: column;
  }
  section h1 {
    font-size: 10rem;
  }
  section h3 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 525px) {
  section h1 {
    font-size: 7rem;
    margin-top: 20px;
  }
  section h3 {
    font-size: 2rem;
    margin-top: 20px;
  }
}

/*____________________________________________*/
main {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 0.6fr 0.7fr 1fr 0.8fr;
  margin-top: 3rem;
  flex-flow: wrap;
}
main .cont {
  max-height: 24rem;
  background: #422a22;
  border-radius: 15px 15px 0 0;
}
main .cont1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 13rem;
}
main .cont1 button {
  border-radius: 20px;
  background-color: #ffeab7;
  color: #422a22;
  font-size: 17px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
main .cont1 button:hover {
  transform: scale(107%);
}
@media screen and (max-width: 950px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 470px) {
  main {
    grid-template-columns: 1fr;
    padding: 0 25px;
    border-radius: 0px;
  }
  main img {
    border-radius: 0px;
  }
  main .cont1 {
    border-radius: 0px;
  }
}

/* _______________article_____________*/
article {
  display: grid;
  grid-template-columns: 0.7fr 0.9fr;
}
@media screen and (max-width: 1270px) {
  article {
    grid-template-columns: 1fr;
  }
}
article img {
  height: 50rem;
  width: 100%;
}
article .article1 {
  background-color: #ffeab7;
  display: flex;
  align-items: center;
  padding: 30px;
  color: #422a22;
  font-size: 3rem;
}
article .article2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
article .article2 .absolute {
  display: flex;
  align-items: center;
  color: #422a22;
  padding: 40px 0;
  gap: 30px;
  flex-direction: column;
  position: absolute;
  width: 50%;
  background-color: #fcf8e6;
  height: 75%;
  border-radius: 15px;
  animation: rotate_article 2s alternate infinite;
}
@media screen and (max-width: 1270px) {
  article .article2 .absolute {
    animation: none;
    width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  article .article2 .absolute i {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) and (max-width: 500px) {
  article .article2 .absolute {
    gap: 15px;
  }
  article .article2 .absolute i {
    font-size: 0.7rem;
  }
  article .article2 .absolute p {
    display: none;
  }
  article .article2 .absolute {
    height: auto;
  }
}
article .article2 .absolute:hover {
  animation: none;
}
article .article2 .absolute button {
  border-radius: 20px;
  background-color: #422a22;
  color: #fcf8e6;
  font-size: 17px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
article .article2 .absolute button:hover {
  transform: scale(107%);
}
article .article2 .absolute .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  padding: 0 40px;
}
article .article2 .absolute h3 {
  font-size: 2.5rem;
}

@keyframes rotate_article {
  from {
    transform: perspective(2000px) rotateY(50deg);
  }
  to {
    transform: perspective(2000px) rotateY(-50deg);
  }
}
/*___________________________________________________-*/
/*.container*/
aside .container__right .comment3, aside .container__right .comment2, aside .container__right .comment1 {
  border-radius: 40px 0px 0px 40px;
  font-size: 2rem;
  color: #422a22;
  padding: 20px;
}
aside .container__right .comment3 p, aside .container__right .comment2 p, aside .container__right .comment1 p {
  font-size: 15px;
  padding-top: 10px;
}

aside {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  width: 100%;
  height: 100%;
  background: #ffb1f1;
}
@media screen and (max-width: 780px) {
  aside {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 470px) {
  aside {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1rem;
  }
}
aside .container {
  color: #422a22;
  font-size: 3.5rem;
  padding: 50px 20px;
}
@media screen and (max-width: 780px) {
  aside .container {
    font-size: 2.5rem;
    padding: 50px 8px;
  }
}
aside .container__right {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
aside .container__right .comment1 {
  background-color: #fcf8e6;
  animation: animation_translateX 1.7s alternate infinite;
}
@media screen and (max-width: 780px) {
  aside .container__right .comment1 {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 470px) {
  aside .container__right .comment1 {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1rem;
  }
}
aside .container__right .comment2 {
  background-color: #ffeab7;
  animation: animation_translateX 2s alternate infinite;
}
@media screen and (max-width: 780px) {
  aside .container__right .comment2 {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 470px) {
  aside .container__right .comment2 {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1rem;
  }
}
aside .container__right .comment3 {
  background-color: #422a22;
  color: #ffeab7;
  animation: animation_translateX 2.3s alternate infinite;
}
@media screen and (max-width: 780px) {
  aside .container__right .comment3 {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 470px) {
  aside .container__right .comment3 {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1rem;
  }
}

@keyframes animation_translateX {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}
/*_____________________________________________________*/
/*FOOTER*/
footer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: #ffeab7;
  color: #422a22;
  padding: 4rem;
}
footer .article {
  font-size: 5.5rem;
  width: 70%;
}
@media screen and (max-width: 990px) {
  footer .article {
    font-size: 4rem;
  }
}
@media screen and (max-width: 770px) {
  footer .article {
    font-size: 2rem;
  }
}
@media screen and (max-width: 470px) {
  footer .article {
    font-size: 1.5rem;
  }
}
footer .form {
  padding-top: 3rem;
  width: 50%;
}
footer form .form__input {
  border: 1px solid #422a22;
  width: 80%;
  min-width: 13rem;
  height: 2.7rem;
  background-color: #ffeab7;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 1.5rem;
}
footer form .form__input:focus {
  outline: none;
}
footer form .chechbox {
  padding-top: 20px;
  font-size: 1rem;
}
footer .info {
  width: 70%;
  gap: 35px;
  margin: 0px auto 0px 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 770px) {
  footer .info {
    gap: 5px;
    padding-top: 10px;
    font-size: 15px;
  }
}

/*______________________________________________________*/
/*VISIT US*/
.visitus__container .visitus__form .visitus__form_reg form .right, .visitus__container .visitus__form .visitus__form_reg form .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.visitus__container {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  display: grid;
  margin-top: 7rem;
  grid-template-rows: 0.7fr 0.9fr 0.5fr 1fr;
  gap: 30px;
}
.visitus__container .visitus__main {
  color: #422a22;
}
.visitus__container h1 {
  font-size: 8rem;
}
@media screen and (max-width: 480px) {
  .visitus__container h1 {
    font-size: 2rem;
  }
}
.visitus__container p {
  font-size: 2rem;
}
@media screen and (max-width: 480px) {
  .visitus__container p {
    font-size: 0.8rem;
  }
}
.visitus__container .visitus__section {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #422a22;
}
.visitus__container .visitus__section h2 {
  font-size: 5rem;
}
@media screen and (max-width: 400px) {
  .visitus__container .visitus__section h2 {
    font-size: 3rem;
  }
}
.visitus__container .visitus__article {
  background: #fcf8e6;
  padding: 20px;
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 450px) {
  .visitus__container .visitus__article {
    padding: 5px;
  }
}
.visitus__container .visitus__article h2 {
  font-size: 4rem;
  color: #422a22;
}
@media screen and (max-width: 450px) {
  .visitus__container .visitus__article h2 {
    font-size: 2rem;
  }
}
.visitus__container .visitus__article .hourse {
  width: 70%;
  color: #422a22;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto;
}
.visitus__container .visitus__article .hourse p {
  font-size: 1.5rem;
}
@media screen and (max-width: 450px) {
  .visitus__container .visitus__article .hourse {
    font-size: 1rem;
    justify-content: start;
  }
}
.visitus__container .visitus__form {
  background: #fcf8e6;
  padding: 20px;
  color: #422a22;
}
.visitus__container .visitus__form .visitus__form_reg {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.visitus__container .visitus__form .visitus__form_reg input {
  border: 1px solid #422a22;
  background-color: #fcf8e6;
  height: 45px;
  border-radius: 20px;
  padding-left: 10px;
  width: 100%;
}
.visitus__container .visitus__form .visitus__form_reg input:focus {
  outline: none;
}
.visitus__container .visitus__form .visitus__form_reg form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.visitus__container .visitus__form .visitus__form_reg form p {
  font-size: 20px;
}
.visitus__container .visitus__form .visitus__form_reg form .input_top {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.visitus__container .visitus__form .visitus__form_reg form .left {
  width: 25%;
}
@media screen and (max-width: 400px) {
  .visitus__container .visitus__form .visitus__form_reg form .left {
    width: 90%;
  }
}
.visitus__container .visitus__form .visitus__form_reg form .right {
  width: 25%;
}
@media screen and (max-width: 400px) {
  .visitus__container .visitus__form .visitus__form_reg form .right {
    width: 90%;
  }
}
.visitus__container .visitus__form .visitus__form_reg form .input_message {
  width: 45%;
  padding-top: 30px;
}
@media screen and (max-width: 400px) {
  .visitus__container .visitus__form .visitus__form_reg form .input_message {
    width: 90%;
  }
}
.visitus__container .visitus__form .visitus__form_reg form .input_message .btn_mes {
  margin-top: 10px;
  border-radius: 20px;
  background-color: #422a22;
  color: #fcf8e6;
  font-size: 17px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}
.visitus__container .visitus__form .visitus__form_reg form .input_message .btn_mes:hover {
  transform: scale(107%);
}
.visitus__container .visitus__form .visitus__form_reg form .input_message .btn_mes {
  width: 100%;
}
.visitus__container .visitus__form .visitus__form_reg form .message {
  width: 100%;
  height: 8rem;
}
.visitus__container h2 {
  font-size: 4rem;
}
@media screen and (max-width: 400px) {
  .visitus__container h2 {
    font-size: 2rem;
  }
}

/*______________________________________________________*//*# sourceMappingURL=style.css.map */