* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*COLOR*/
$pink: #ffb1f1;
$brown: #422a22;
$cream: #fcf8e6;
$yellow: #ffeab7;
/*_________________________________________________*/
@mixin url($clr:$browm, $t_decor:none) {
  color: $clr;
  text-decoration: $t_decor;
  &:hover {
    text-decoration: underline;
  }
}
a {
  @include url($brown, none);
}
/*flex_center*/
%flex_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*__________________________________________________*/
/*IMG*/
%img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
}
/*___________________________________________________*/
/*BUTTON*/
@mixin btn($bck, $txt_color) {
  border-radius: 20px;
  background-color: $bck;
  color: $txt_color;
  font-size: 17px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  &:hover {
    transform: scale(107%);
  }
}
/*___________________________________________________*/
body {
  max-height: 200vh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  animation: body_an 0.3s ease-in-out forwards;
  transition: 0.3;
  background-color: $cream;
}
@keyframes body_an {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*header*/
header {
  background-color: $pink;
  opacity: 0.9;
  @extend %flex_center;
  width: 70%;
  border-radius: 15px;
  margin: 0 auto;
  position: fixed;
  z-index: 5;
  top: 15px;
  left: 0;
  right: 0;
  padding: 0 2rem;
  .modal {
    display: none;
  }
  .header_img {
    animation: head_img 2.5s linear infinite;
  }
  ol {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  @media screen and (max-width: 530px) {
    .modal {
      display: block;
      cursor: pointer;
    }
    ol {
      display: none;
    }
  }
}
@keyframes head_img {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*___________________________________________*/
section {
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  @extend %flex_center;
  h1 {
    font-size: 16rem;
    color: $brown;
  }
  h3 {
    font-size: 3rem;
    color: $brown;
  }
  @media screen and (max-width: 950px) {
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 10rem;
    }
    h3 {
      font-size: 2.5rem;
    }
  }
  @media screen and (max-width: 525px) {
    h1 {
      font-size: 7rem;
      margin-top: 20px;
    }
    h3 {
      font-size: 2rem;
      margin-top: 20px;
    }
  }
}
/*____________________________________________*/
main {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 0.6fr 0.7fr 1fr 0.8fr;
  margin-top: 3rem;
  flex-flow: wrap;
  .cont {
    max-height: 24rem;
    background: $brown;
    border-radius: 15px 15px 0 0;
  }
  .cont1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 13rem;
    button {
      @include btn($yellow, $brown);
    }
  }
  img {
    @extend %img;
  }
  @media screen and (max-width: 950px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (max-width: 470px) {
    grid-template-columns: 1fr;
    padding: 0 25px;
    border-radius: 0px;
    img {
      border-radius: 0px;
    }
    .cont1 {
      border-radius: 0px;
    }
  }
}
/* _______________article_____________*/
article {
  display: grid;
  grid-template-columns: 0.7fr 0.9fr;

  @media screen and (max-width: 1270px) {
    grid-template-columns: 1fr;
  }
  img {
    height: 50rem;
    width: 100%;
  }
  .article1 {
    background-color: $yellow;
    display: flex;
    align-items: center;
    padding: 30px;
    color: $brown;
    font-size: 3rem;
  }
  .article2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    .absolute {
      display: flex;
      align-items: center;
      color: $brown;
      padding: 40px 0;
      gap: 30px;
      flex-direction: column;
      position: absolute;
      width: 50%;
      background-color: $cream;
      height: 75%;
      border-radius: 15px;
      animation: rotate_article 2s alternate infinite;
      @media screen and (max-width: 1270px) {
        animation: none;
        width: 70%;
        margin: auto;
      }
      @media screen and (max-width: 600px) {
        i {
          font-size: 1rem;
        }
        @media screen and (max-width: 500px) {
          gap: 15px;
          i {
            font-size: 0.7rem;
          }
          p {
            display: none;
          }
          height: auto;
        }
      }
      &:hover {
        animation: none;
      }
      button {
        @include btn($brown, $cream);
      }
      .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 6rem;
        padding: 0 40px;
      }
      h3 {
        font-size: 2.5rem;
      }
    }
  }
}
@keyframes rotate_article {
  from {
    transform: perspective(2000px) rotateY(50deg);
  }
  to {
    transform: perspective(2000px) rotateY(-50deg);
  }
}
/*___________________________________________________-*/

/*.container*/
%container__css {
  border-radius: 40px 0px 0px 40px;
  font-size: 2rem;
  color: $brown;
  padding: 20px;
  @extend %flex_center;
  p {
    font-size: 15px;
    padding-top: 10px;
  }
}
@mixin media_screen($tablet: 780px, $mobile: 470px) {
  @media screen and (max-width: $tablet) {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1.4rem;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
    animation: none;
    font-size: 1rem;
  }
}

aside {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  width: 100%;
  height: 100%;
  background: $pink;
  @include media_screen();

  .container {
    color: $brown;
    font-size: 3.5rem;
    padding: 50px 20px;
    @media screen and (max-width: 780px) {
      font-size: 2.5rem;
      padding: 50px 8px;
    }
  }
  .container__right {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    .comment1 {
      @extend %container__css;
      background-color: $cream;
      animation: animation_translateX 1.7s alternate infinite;
      @include media_screen();
    }
    .comment2 {
      @extend %container__css;
      background-color: $yellow;
      animation: animation_translateX 2s alternate infinite;
      @include media_screen();
    }
    .comment3 {
      @extend %container__css;
      background-color: $brown;
      color: $yellow;
      animation: animation_translateX 2.3s alternate infinite;
      @include media_screen();
    }
  }
}
@keyframes animation_translateX {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0);
  }
}

/*_____________________________________________________*/
/*FOOTER*/
@mixin media__footer($tablet: 990px, $medium: 770px, $mobile: 470px) {
  @media screen and (max-width: $tablet) {
    font-size: 4rem;
  }
  @media screen and (max-width: $medium) {
    font-size: 2rem;
  }
  @media screen and (max-width: $mobile) {
    font-size: 1.5rem;
  }
}
footer {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: $yellow;
  color: $brown;
  padding: 4rem;
  .article {
    font-size: 5.5rem;
    width: 70%;
    @include media__footer();
  }
  .form {
    padding-top: 3rem;
    width: 50%;
  }
  form {
    .form__input {
      border: 1px solid $brown;
      width: 80%;
      min-width: 13rem;
      height: 2.7rem;
      background-color: $yellow;
      border-radius: 20px;
      padding-left: 20px;
      font-size: 1.5rem;
      &:focus {
        outline: none;
      }
    }
    .chechbox {
      padding-top: 20px;
      font-size: 1rem;
    }
  }
  .info {
    width: 70%;
    gap: 35px;
    margin: 0px auto 0px 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 770px) {
      gap: 5px;
      padding-top: 10px;
      font-size: 15px;
    }
  }
}
/*______________________________________________________*/

/*VISIT US*/
%input_set {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.visitus__container {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  width: 100%;
  display: grid;
  margin-top: 7rem;
  grid-template-rows: 0.7fr 0.9fr 0.5fr 1fr;
  gap: 30px;
  .visitus__main {
    color: $brown;
  }
  h1 {
    font-size: 8rem;
    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 2rem;
    @media screen and (max-width: 480px) {
      font-size: 0.8rem;
    }
  }
  .visitus__section {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $brown;
    h2 {
      font-size: 5rem;
      @media screen and (max-width: 400px) {
        font-size: 3rem;
      }
    }
  }
  .visitus__article {
    background: $cream;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    @media screen and (max-width: 450px) {
      padding: 5px;
    }
    h2 {
      font-size: 4rem;
      color: $brown;
      @media screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }
    .hourse {
      width: 70%;
      color: $brown;
      display: flex;
      gap: 4rem;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 20px auto;
      p {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 450px) {
        font-size: 1rem;
        justify-content: start;
      }
    }
  }
  .visitus__form {
    background: $cream;
    padding: 20px;
    color: $brown;
    .visitus__form_reg {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      input {
        border: 1px solid $brown;
        background-color: $cream;
        height: 45px;
        border-radius: 20px;
        padding-left: 10px;
        width: 100%;
        &:focus {
          outline: none;
        }
      }
      form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
          font-size: 20px;
        }
        .input_top {
          display: flex;
          gap: 30px;
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
        }
        .left {
          @extend %input_set;
          width: 25%;
          @media screen and (max-width:400px) {
            width: 90%;
          }
        }
        .right {
          @extend %input_set;
          width: 25%;
          @media screen and (max-width:400px) {
            width: 90%;
          }
        }
        .input_message {
          width: 45%;
          padding-top: 30px;
          @media screen and (max-width:400px) {
            width: 90%;
          }
          .btn_mes{
            margin-top: 10px;
            @include btn($brown, $cream );
            width: 100%;
          }
        }
          .message {
            width: 100%;
            height: 8rem;
          }
        }
      }
    }
    h2 {
      font-size: 4rem;
      @media screen and (max-width: 400px) {
        font-size: 2rem;
      }
    }
  }


/*______________________________________________________*/
